SCRAPER_USERNAME = "[YOUR_USERNAME_FOR_EIS_WEBSITE]"
SCRAPER_PASSWORD = "[YOUR_PASSWORD_FOR_EIS_WEBSITE]"


OUTPUT_DIR= "[FOLDER_NAME_FOR_RAW_DATA]" # default = "./data/raw"
CLEANED_DIR= "[FOLDER_NAME_FOR_CLEANED_DATA]" # default = "./data/cleaned"
